{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    "styled-components",
    "inline-react-svg",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}
