# editors
.vscode
.idea

# build output
dist
.next

# dependencies
**/node_modules/**
package-lock.json

# testing
/coverage

# misc
.DS_Store
.env*
!.env-sample

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel